*{
    margin:0;
    padding:0;
}

.container-fluid{
    grid-template-columns: repeat(auto-fit);
}
.section-4{
    grid-template-columns: repeat(auto-fit);
}
.hinhanh.anh{
    height:50px;
    width: 50px;
}
.sub_banner {
    display: grid;
    grid-gap: 15px;
}
.banner {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.form-control:focus, a, button, .page-link:focus, .btn, .btn:focus {
    outline: none !important;
    box-shadow: none;
}
.container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-lg-15, .col-lg-20, .col-lg-80, .col-lg-60 {
    padding-right: 15px;
    padding-left: 15px;
}
.col-xl-15 {
    flex: 0 0 20%;
    max-width: 20%;
}
.flashsale__countdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15px;
}
.col-xl-15 {
    flex: 0 0 20%;
    max-width: 20%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
}
.tg-item {
    padding: 4px 8px;
    background:#ffdb83;
    color: black;
    margin-top: 10px;
    display: inline-block;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 400;
    transition: border .3s ease-out;
    border: 1px solid var(--tag-bg);
}
.tag-item{
    padding: 4px 8px;
    background:#db1136;
    color: white;
    border-radius: 9999px;
    display: inline-block;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 400;
    transition: border .3s ease-out;
    border: 1px solid var(--tag-bg);
}
.tag-item{
    padding: 4px 8px;
    border-radius: 9999px ;
    border-color: #db1136;
    border: 1px solid #db1136;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-sm-4 .row .banner10 ul li a:hover  {
    color:#db1136;
}

.header .row .media-body a:hover{
    color:#db1136;
}
.col-md-9 .row ul li :hover a{
    color:#db1136;
}
img:hover {
    transform: scale(0.8);
}
.section ul li:hover span{
    color:#db1136;
} 
.body .subheader.danh-muc ul li:hover a{
    color:yellow;
}
.row .banner10 ul li :hover a{
    color:#db1136;
}
.media-body:hover a{
    color:#db1136;
}
.flashsale__countdown .ega-badge-ctd__item:nth-child(2){
    letter-spacing: 0.3rem;
     z-index: 2;
     box-shadow: none;
     text-transform: uppercase;
     background:#127fd6;
    
}
.flashsale__countdown div{
    position: relative;
     margin: 0 5px;
     -webkit-box-reflect: below 30px linear-gradient(transparent, #0004);
}

 

.navigation .tools li:hover>a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.73);
    color:green;
    margin-left:200px;
}
.tools {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
.tools a {
    color: black;
    padding: 100px 300px;
    text-decoration: none;
    display: block;

    
  }
  .tools a:hover {background-color: #ddd;}
  
  .menu-item:hover .tools {display: block;}
  
  .menu-item #toolss a{
    text-decoration: none;
}
